#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.player-select {
  margin-bottom: 1rem;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  background-color: #1d87c0;
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.radio-label-button {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #545050;
  cursor: pointer;
  user-select: none;
}

.radio-label-button.selected {
  background-color: #1EC239FF;
  color: white;
  font-size: 1.1rem;
  border-color: #1EC239FF;
}

.letter-select-and-new-game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-select {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.new-game-button-container {
  margin-left: 1rem;
}

.board-container {
  width: 500px;
  height: 500px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.current-player {
  margin: 0.5rem 0;
  text-align: center;
}

.player-select label {
  font-size: 1.2rem;
}

.player-select label input[type="number"] {
  margin-left: 0.5rem;
}

input[type="radio"] {
  margin: 0 0.5rem;
  appearance: auto;
}