#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-select {
  margin-bottom: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px; /* Line thickness around boxes */
  border: 2px solid #1d87c0; /* Boarder color around game board */
  background-color: #1d87c0; /* Line color around boxes */
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #fff; /* Color of the cells */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell input[type="checkbox"] {
  width: 100%;
  height: 100%;
  margin: 0;
}
